<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escape Vape</title>
    <link rel="icon" type="image/png" href="/images/escapevape.png" />

    <link
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
      rel="stylesheet"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">EscapeVape</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample04"
        aria-controls="navbarsExample04"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <%if(typeof user!= 'undefined'){%>
          <li class="nav-item">
            <a class="nav-link" href="/users/log">Your Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lifeline">Lifeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/therapy">Therapy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rooms/">Video Call</a>
          </li>
          <%}%>
        </ul>
        <ul class="navbar-nav navbar-right">
          <%if (typeof user != 'undefined'){%>
          <li class="nav-item">
            <a class="nav-link" href="/users/account">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          <%}else{%>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <%}%>
        </ul>
      </div>
    </nav>
    <div class="index">
      <div class="container">
        <%- messages('message', locals) %> <% if(typeof errors !=
        'undefined'){%> <% errors.forEach(function (i) { %>
        <div class="alert alert-danger"><%= i.msg %></div>
        <% }) %> <%}%>
        <div class="card">
          <div class="image-container">
            <img class="image" src="images/escapevape.png" />
          </div>
          <div class="card-info">
            <h1 class="card-title"><u>EscapeVape</u></h1>
            <p class="info-paragraph">
              EscapeVape is the passion project pioneered by 4 high school
              students hoping to make a change in the world. Today, America's
              youth is struggling against nicotine addiction through the
              introduction of new e-cigarettes. Nearly 45% of teens who depend
              on these e-cigarettes wish to quit their nicotine addiction.
              However, only about 12% of teens successfuly become rehabilitated.
              This is in part due to the fact that nicotine is extremely
              addicting. However, another factor that plays a significant role
              is the lack of resources for these teens to rely on to help them
              quit. Many teens can't reach out because of fear of the bad stigma
              vaping possesses and don't want to hurt or be ashamed by their
              family, friends, school, etc. It is our mission to provide these
              teens the help they need anonymously in order to fulfill their
              goals and set them on the right path to a long and healthy life.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-why">
            <h1 class="card-title"><u>Why Quit?</u></h1>
            <p class="info-paragraph">asdsadsada</p>
          </div>
        </div>
        <div class="card2">
          <h1 class="card-title"><u>The Developers</u></h1>
          <div class="card-about">
            <div class="card-person">
              <p class="info-paragraph">Joshua.</p>
            </div>
            <div class="card-person">
              <p class="info-paragraph">Lukas.</p>
            </div>
            <div class="card-person">
              <p class="info-paragraph">Aidan.</p>
            </div>
            <div class="card-person">
              <p class="info-paragraph">Fiona.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
