<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Escape Vape<link></title>
	<link
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
      rel="stylesheet"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <link href="/css/style.css" rel="stylesheet" />
	<link rel="shortcut icon">
	<link rel="apple-touch-icon">
	<link rel="icon" sizes="192x192">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/">EscapeVape</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
				    
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExample04">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <%if(typeof user!= 'undefined'){%>
		      <li class="nav-item">
		      	<a class = "nav-link" href="/users/log">Your Log</a></li>
		      <li class="nav-item active">
		      	<a class="nav-link" href="/lifeline">Lifeline</a></li>
		      	<li class="nav-item">
            <a class="nav-link" href="/therapy">Therapy</a></li>
		      </li>
		      <li class="nav-item">
		      	<a class="nav-link" href="/rooms/">Video Call</a></li>
		      <%}%>
		  	</ul>
		  	<ul class="navbar-nav navbar-right">
		      <%if (typeof user != 'undefined'){%>
		      <li class="nav-item">
		      	<a class="nav-link" href="/users/account">Settings</a></li>
		      	<li class="nav-item">
		      	<a class = "nav-link" href="/users/logout">Logout</a></li>
		      <%}else{%>
		      <li class="nav-item">
		        <a class="nav-link " href="/users/register">Register</a>
		      </li>
		     <li class="nav-item">
		        <a class="nav-link" href="/users/login">Login</a>
		      </li>
		      <%}%>
		    </ul>
		  </div>
		</nav>
		<div class="container">
			<%- messages('message', locals) %>
		<% if(typeof errors != 'undefined'){%>
			<% errors.forEach(function (i) { %>
		    <div class="alert alert-danger"><%= i.msg %></div>
		  	<% }) %>
		<%}%>
		<div class="list-group-item">
		<h1>Lifeline</h1>
		<p>This is your lifeline. If you ever feel strong urges to relapse come here to try some last minute treatments to overcome your urges. Typical withdrawal urges only last about 10-20 minutes at a time so feel free to use any of the activities below to take care of yourself. Be Strong!</p></div>
		<ul>
		<li class="list-group-item">
		<h2>Exercise</h2>
		<p>Exercise is great for your health and release endorphins which are feel good chemicals. This is a great way to take out your rage and frustration into something physical and beneficial!</p>
		<ul>
			<li class="list-group-item">Do as many push ups as you can</li>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=uUKAYkQZXko" target="_blank">Time to get a 6 pack</a></li>
			<li class="list-group-item">Run a mile</li>
			<li class="list-group-item">Plank as long as you can</li>
			<li class="list-group-item">Practice/Play your favorite sport</li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Gaming</h2>
		<p>Gaming is a great distraction. Play your favorite videogame or play some fun small minigames on the internet:</p>
		<ul>
			<li class="list-group-item"><a href="https://agar.io/" target="_blank">agario</a></li>
			<li class="list-group-item"><a href="https://surviv.io/" target="_blank">survivio</a></li>
			<li class="list-group-item"><a href="https://snake.io/" target="_blank">snakeio</a></li>
			<li class="list-group-item"><a href="https://skribbl.io/" target="_blank">skribblio (best with multiple people)</a></li>
			<li class="list-group-item"><a href="https://www.coolmathgames.com/0-fireboy-and-water-girl-in-the-forest-temple" target="_blank">Fireboy & Watergirl</a>
			<li class="list-group-item"><a href="http://weavesilk.com/" target="_blank">Weave Silk - interactive drawing game</a></li>
			<li class="list-group-item"><a href="https://www.minecraft.net/en-us/" target="_blank">Minecraft</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Meditation</h2>
		<p>Meditation is great for your spiritual health. It will calm your mind and you will learn to be in control. Here's some meditation audio/videos:</p>
		<ul>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=inpok4MKVLM" target="_blank">5 minute meditation session</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=O-6f5wQXSu8" target="_blank">10 minute meditation session</a></li>
			<li class="list-group-item"><a href="https://www.headspace.com/" target="_blank">Headspace is a great audio meditation app</a></li>
			<li class="list-group-item"><a href="https://www.mindful.org/how-to-meditate/" target="_blank">Meditation guide</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Movies, Episodes, Videos</h2>
		<p>Distract yourself with some of the best film of all time:</p>
		<ul>
			<li class="list-group-item"><a href="https://www.starwars.com/" target="_blank">Star Wars</a></li>
			<li class="list-group-item"><a href="https://editorial.rottentomatoes.com/guide/best-netflix-shows-and-movies-to-binge-watch-now/" target="_blank">Top Netflix shows</a></li>
			<li class="list-group-item"><a href="https://www.cbs.com/shows/" target="_blank">CBS</a></li>
			<li class="list-group-item"><a href="https://collider.com/best-shows-on-hulu-right-now/" target="_blank">Top Hulu shows</a></li>
			<li class="list-group-item"><a href="https://tubitv.com/" target="_blank">Free movies with Tubi</a></li>
			<li class="list-group-item"><a href="https://www.disneyplus.com/welcome?cid=DSS-Search-Google-71700000065352001-&s_kwcid=AL!8468!3!441647602024!b!!g!!%2Bstar%20%2Bwars&gclid=CjwKCAiAz4b_BRBbEiwA5XlVVu_rLjXGiuQoxt-6Gl5q8nwkINE8f5PE5c9MdskbCK9yDqMQVcM6XBoCEnMQAvD_BwE&gclsrc=aw.ds" target="_blank">Disney+</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=xuCn8ux2gbs" target="_blank">Funny animation</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/user/swoozie06" target="_blank">sWoozie</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/channel/UCDogdKl7t7NHzQ95aEwkdMw" target="_blank">Sidemen</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/user/hotandfluffycomedy" target="_blank">Hilarious Comedy by Gabriel Iglesias</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Social Media</h2>
		<p>Socialize and express your feelings</p>
		<ul>
			<li class="list-group-item">Call someone you trust to complain</li>
			<li class="list-group-item">Scroll on TikTok, Instagram, Twitter, etc. to distract yourself</li>
			<li class="list-group-item"><a href="https://escapevape.herokuapp.com/rooms">Send your friends this link to call. You might also get to have a professional come and confort you</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Go Outside</h2>
		<p>Have fun doing just about anything outside</p>
		<ul>
			<li class="list-group-item">Take a walk around the park</li>
			<li class="list-group-item">Drive around with friends and hangout</li>
			<li class="list-group-item"><a href="https://www.google.com/search?q=movies+near+me&oq=movies+near+me&aqs=chrome.0.0i433i457j0i402l2j0l2j0i20i263j0l2.1581j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Movies near me</a></li>
			<li class="list-group-item"><a href="https://www.google.com/search?q=amusement+parks+near+me&oq=amusement+parks+near+me&aqs=chrome..69i57j0l7.1871j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Amusement Parks</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Music</h2>
		<p>Vibe out to some dope music</p>
		<ul>
			<li class="list-group-item"><a href="https://open.spotify.com/playlist/6boWekMkYdetHLqP19CZEn" target="_blank">Lofi Chill Beats</a></li>
			<li class="list-group-item"><a href="https://open.spotify.com/playlist/5BnoU1fHxO6fMCz9a1OLyK" target="_blank">Rave/EDM</a></li>
			<li class="list-group-item"><a href="https://open.spotify.com/playlist/41jUNnv1YKW8EqTuQTjDeg" target="_blank">Best Pop & HipHop</a></li>
			<li class="list-group-item"><a href="https://open.spotify.com/playlist/4RwDKKOy9orChJzWg0XhtI" target="_blank">Hard Rap / Workout Music</a></li>
			<li class="list-group-item"><a href="https://www.billboard.com/charts/hot-100" target="_blank">Top 100 Hits Right Now</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Cooking & Eating</h2>
		<p>Substitute your drug desires with food:</p>
		<ul>
			<li class="list-group-item"><a href="https://www.foodnetwork.com/recipes/photos/foodnetwork-top-50-most-saved-recipes" target="_blank">Best food network recipes for you</a></li>
			<li class="list-group-item"><a href="https://www.opentable.com/lists/top-100-2019" target="_blank">Top 100 Restaurants</a></li>
		</ul>
		</li>
		<li class="list-group-item">
			<h2>Hobbies</h2>
		<p>Pick up a new hobbie in the meantime:</p>
		<ul>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=EPylVlpKpZA" target="_blank">Coding</a></li>
			<li class="list-group-item"><a href="https://www.youtube.com/watch?v=nWJQvsZ6kT0" target="_blank">Knitting</a></li>
			<li class="list-group-item"><a href="https://medium.com/storiusmag/photography-for-beginners-where-do-i-even-start-c1ab80243f22" target="_blank">Photography</a></li>
			<li class="list-group-item"><a href="https://origami.me/beginners-guide/" target="_blank">Origami</a></li>
		</ul>
		</li>
		<li class="list-group-item">
		<h2>Miscellaneous</h2>
		<p>Everything else that can help!</p>
		<ul>
			<li class="list-group-item">Take a shower or bath</li>
			<li class="list-group-item">Talk to a doctor/therapist on the best plan for you. Addiction is different from everyone so everyone needs their own custom plan for the easiest way to transition to a smoke free lifestyle</li>
			<li class="list-group-item"><a href="">Use our therapy sessions</a></li>
		</ul>
		</li>
		</ul>
		</div>
</body>
</html>
