.post, .post:first-child, .post:last-child{
    display: flex;
      border-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      margin: 10px;
      padding: 10px;
      width: 45%;
      background-color: #faebdd;
      box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.newpost{
    margin: 16px;
}

.postTitle
{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.btn-success
{
    width: 50%;
}