nav {
  margin: 0;
}
.image {
  width: 400px;
  height: 400px;
  margin-left: 16px;
}

.card {
  margin: 16px;
  text-align: center;
}

.card-title {
  margin: 10px;
  font-weight: bold;
  color: #f63a3a;
  text-align: center;
}

.card-info {
  margin-right: 16px;
  font-size: 18px;
  text-align: left;
}

.card-about,
.card-why {
  margin-right: 16px;
  margin-left: 16px;
  text-align: center;
  font-size: 18px;
}

.card-title {
  text-align: center;
  font: Georgia;
}

.card-about {
  display: flex;
  justify-content: center;
}

.card-person {
  margin: 12px;
}

.info-paragraph
{
  text-align: left;
}